html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', serif;
    color: #0c374c;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url('/fonts/OpenSansCondensed-Light.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

